<div class="container-fluid">
  <div class="row">
    <div class="col" style="background-image: url('/assets/imagenes/tennis-5.jpg');background-position: center;">
      <br><br><br><br>
      <h1 style="color:white; font-size: 30px;">COMUNICATE CON NOSOTROS</h1>
      <br><br><br><br>
    </div>
  </div>
  <div class="row">
    <div class="col-4 m-3 mt-5" style="background-color: rgba(128, 128, 128, 0.336);">

      <div class="seccion p-5">
        <h2><strong>Datos de contacto</strong></h2>
        <h3><strong>Ubicación : </strong>Ciudad, Pais</h3>
        <h3><strong>Dirección : </strong>Calle de Ejemplo, Pasaje ejemplo #1234</h3>
        <h3><strong>Telefono 1 : </strong>+512 112 233</h3>
        <h3><strong>Telefono 2 : </strong>+512 334 455</h3>
        <h3><strong>Telefono 3 : </strong>+512 667 788</h3>
      </div>

      <div class="container">
        <div class="row">
          <div class="col-2"></div>
          <div class="col-2"><img src="/assets/imagenes/facebook.png" style="width: 60px;" alt=""></div>
          <div class="col-2"><img src="/assets/imagenes/instagram.png" style="width: 60px;" alt=""></div>
          <div class="col-2"><img src="/assets/imagenes/whatsapp.png" style="width: 60px;" alt=""></div>
          <div class="col-2"><img src="/assets/imagenes/twitter.png" style="width: 60px;" alt=""></div>
          <div class="col-2"></div>

        </div>
      </div>

    </div>
    <div class="col-7 m-3 mt-5">

      <div class="seccion">
        <img src="/assets/imagenes/mapa.png" style="width: 1180px;" alt="">
      </div>

    </div>
  </div>
</div>