<header class="p-3 text-bg-dark">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a [routerLink]="['home']" class="nav-link px-2 text-white">Inicio</a></li>
        <li><a [routerLink]="['agendamiento']" class="nav-link px-2 text-white">Agendamiento</a></li>
        <li><a [routerLink]="['calendario']" class="nav-link px-2 text-white">Calendario</a></li>
        <li><a [routerLink]="['campeonato']" class="nav-link px-2 text-white">Campeonatos</a></li>
        <li><a [routerLink]="['contact']" class="nav-link px-2 text-white">Contacto</a></li>
      </ul>

      <div class="text-end">
        <button type="button" [routerLink]="['ingreso']" class="btn btn-outline-light me-2">Ingresar</button>
        <!-- <button type="button" class="btn btn-warning">Sign-up</button> -->
      </div>
    </div>
  </div>
</header>
<router-outlet></router-outlet>
