<div class="container-fluid">
  <div class="row"
    style="background-image: url('/assets/imagenes/tennis-7.jpg'); background-position: 20% 12%; height: 92vh !important;">
    <div class="col">
      <h1 style="color:white; font-size: 38px;font-weight: 500; margin-top: 14%; text-align: center; background-color: rgba(134, 134, 134, 0.596); padding: 80px 80px 60px 80px;">
        PRACTICA TU DEPORTE FAVORITO EN EL MEJOR LUGAR
        <h2 style="padding: 12px;font-weight: 300;">
          Arriendo de canchas, organización de torneos, y mas!
        </h2>
        <div class="boton-inicio text-center">
          <button class="btn boton-tennis" [routerLink]="['/ingreso']">Ingresar</button>
        </div>
      </h1>

    </div>
  </div>
</div>